<html lang='en'>

<head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='description' content='' />
    <meta name='author' content='' />

    <title>Đơn hàng | Yên Trà Quán</title>

    <link href='/css/admin/bootstrap.min.css' rel='stylesheet' />
    <link href='/css/admin/metisMenu.min.css' rel='stylesheet' />
    <link href='/css/admin/dataTables/dataTables.bootstrap.css' rel='stylesheet' />
    <link href='/css/admin/dataTables/dataTables.responsive.css' rel='stylesheet' />
    <link href='/css/admin/startmin.css' rel='stylesheet' />
    <link href='/css/admin/font-awesome.min.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id='wrapper'>
        <nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
            <ul class='nav navbar-nav navbar-left navbar-top-links'>
                <li>
                    <a href='/admin/dashboard'><img style='width: 20px' src='/img/internet.png' alt='' /> Website</a>
                </li>
            </ul>

            <ul class='nav navbar-right navbar-top-links'>
                <li class='dropdown'>
                    <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        <img style='width: 20px' src='/img/profile-user.png' alt='' />
                        {{customerName}}<b class='caret'></b>
                    </a>
                    <ul class='dropdown-menu dropdown-user'>
                        <li>
                            <a href='/admin/profile-admin'><img style='width: 20px' src='/img/user.png' alt='' /> Trang
                                cá
                                nhân</a>
                        </li>
                        <li>
                            <a href='#'><img style='width: 20px' src='/img/setting.png' alt='' /> Cài đặt</a>
                        </li>
                        <li class='divider'></li>
                        <li>
                            <a href='/admin//login-admin'><img style='width: 20px' src='/img/logout.png' alt='' />
                                Đăng xuất</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <aside class='sidebar navbar-default' role='navigation'>
            <div class='sidebar-nav navbar-collapse'>
                <ul class='nav' id='side-menu'>
                    <li class='sidebar-search'>
                        <div class='input-group custom-search-form'>
                            <input type='text' class='form-control' placeholder='Tìm kiếm ...' />
                            <span class='input-group-btn'>
                                <button class='btn btn-primary' type='button'>
                                    <img style='width: 20px' src='/img/search.png' alt='' />
                                </button>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href='/admin/dashboard'>Dashboard</a>
                    </li>
                    <li>
                        <a href='/admin/user'>Người dùng<span></span></a>
                    </li>
                    <li>
                        <a href='/admin/category'>Danh mục</a>
                    </li>
                    <li>
                        <a href='/admin/product'>Sản phẩm</a>
                    </li>
                    <li>
                        <a href='/admin/order' class='active'>Đơn hàng</a>
                    </li>
                </ul>
            </div>
        </aside>

        <div id='page-wrapper'>
            <div class='container-fluid'>
                <div class='row'>
                    <div class='col-lg-12'>
                        <h1 class='page-header'>Đơn hàng | Yên Trà Quán</h1>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-lg-12'>
                        <div class='panel panel-default'>
                            <div class='panel-heading space-between-element'>
                                <div>Danh sách đơn hàng</div>
                            </div>

                            <div class='panel-body'>
                                <div class='table-responsive'>
                                    <table class='table table-striped table-bordered table-hover'
                                        id='dataTables-example'>
                                        <thead>
                                            <tr>
                                                <th class='id-col'>Mã đơn hàng</th>
                                                <th class='name-col'>Địa chỉ giao hàng</th>
                                                <th class='phone-col'>Phương thức thanh toán</th>
                                                <th class='price-col'>Trạng thái thanh toán</th>
                                                <th class='phone-col'>Chi tiết</th>
                                                <th class='price-col'>Tổng đơn</th>
                                                <th class='address-col'>Tình trạng đơn hàng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each listOrder}}
                                            <tr class='odd gradeX'>
                                                <td class='id-col'>{{this.id}}</td>
                                                <td class='name-col'>{{this.shippingAddress}}</td>
                                                <td class='phone-col'>{{this.payment.paymentMethod}}</td>

                                                <td class='phone-col'>{{this.payment.status}}</td>
                                                <td class='phone-col'>{{#each this.OrderDetail.[0].productOrigin}}
                                                    <h6> {{this.productName}} x {{this.quantity}}</h6>
                                                    {{/each}}
                                                </td>
                                                <td class='price-col'>{{this.OrderDetail.[0].total}} VNĐ</td>
                                                <td class='address-col'>
                                                    <input class='text-secondary' style="border: none;
                                    outline: none;" value='{{this.status}}' id="userName" disabled>
                                                    </input>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='/js/admin/jquery.min.js'></script>
    <script src='/js/admin/bootstrap.min.js'></script>
    <script src='/js/admin/metisMenu.min.js'></script>
    <script src='/js/admin/dataTables/jquery.dataTables.min.js'></script>
    <script src='/js/admin/dataTables/dataTables.bootstrap.min.js'></script>
    <script src='/js/admin/startmin.js'></script>

    <script>
        $(document).ready(function () { $('#dataTables-example').DataTable({ responsive: true }) })
    </script>
</body>



</html>